.game-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
    padding-top: 20px;
    font-size: 3vw;
    width: 100vw;
}

.game-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.cards-layout {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}

.card {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    border: 4px solid black;
    border-radius: 12px;
    margin-left: 10px;
    margin-right: 10px;
    height: 28vw;
    width: 25vw;
}

.selected {
    border: 10px solid yellow;
    border-radius: 12px;
}

.stats {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
    padding: 5px;
    width: 100vw;
}

.sets-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 20%;
}

.message-for-set,
.message-for-possible {
    width: 30%;
    font-size: 1.1em;
    padding: 10px;
    /* border: 3px solid black; */
    border-radius: 10%;
    text-align: center;
}

.message-for-set,
.message-for-possible {
    /* padding: 4px; */
    /* text-align: left; */
    font-size: 8vw;
    width: 90vw;
}

.message-for-possible {
    background-color: green;
}

.sets-title {
    font-weight: 800;
    font-size: 5vw;
}

.collected-sets {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    height: 12vw;
    width: 12vw;
    font-size: 5vw;
    border-radius: 10%;
}

.timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px;
    font-size: 4.5vw;
}

.butts-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.pause-game, .start-game, .new-game {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 6px;
    font-size: 3vw;
    padding: 4px;
    padding-left: 6px;
    padding-right: 6px;
    margin: 5px;
}

.checkSet {
    border-radius: 15%;
}

.noSet {
    color: #CD5454;
    font-family: "Arcade";
}

.yesSet {
    color: #004D05;
    font-family: "Arcade";
}

/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {
    .game-wrapper {
        padding: 20px;
        font-size: 3vw;
        width: 100vw;
    }
    .card {
        height: 23vw;
        width: 16.8vw;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .sets-container {
        width: 20%;
    }
    .sets-title {
        font-weight: 800;
        font-size: 3.5vw;
    }
    .collected-sets {
        height: 9.7vw;
        width: 10vw;
        font-size: 3vw;
    }
    .timer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border-radius: 5px;
        font-size: 3vw;
    }
    button {
        font-size: 2.5vw;
        margin: 5px;
    }
}

/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {
    .game-wrapper {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .game-layout {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        font-size: 3vw;
    }
    .card {
        height: 22vw;
        width: 15.5vw;
        margin: .5vw;
        margin-top: 1vw;
        margin-bottom: 1vw;
    }
    .stats {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 1vh;
        margin-bottom: 1vh;
        width: auto;
    }
    .sets-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .message-for-set {
        width: 200px;
        padding-bottom: 10px;
    }
    .message-for-possible {
        width: 100px;
    }
    .message-for-set p,
    .message-for-possible p {
        padding: 6px;
        line-height: 40px;
    }
    .sets-title {
        font-weight: 800;
        font-size: 3.5vw;
    }
    .collected-sets {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 3px solid black;
        border-radius: 5px;
        height: 8vw;
        width: 8.5vw;
        font-size: 3.3vw;
    }
    .timer-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: 10px;
        border-radius: 5px;
        font-size: 3.3vw;
    }
    button {
        border-radius: 6px;
        margin: 5px;
        font-size: 2.5vw;
    }
}

/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {
    .game-wrapper {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .cards-layout {
        width: 60%;
    }
    .card {
        height: 18vw;
        width: 12.5vw;
    }
    .stats {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 1vh;
        margin-bottom: 1vh;
        width: auto;
    }
    .sets-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sets-title {
        font-weight: 800;
        font-size: 3.5vw;
    }
    .collected-sets {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 3px solid black;
        border-radius: 5px;
        height: 8vw;
        width: 8.5vw;
        font-size: 3.3vw;
    }
    .timer-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: 10px;
        border-radius: 5px;
        font-size: 3.3vw;
    }
    button {
        border-radius: 6px;
        margin: 5px;
        font-size: 2.5vw;
    }
}

/* Extra-Large Devices & Wide Screens */

@media only screen and (min-width: 1367px) {
    .card:hover {
        border: 5px solid yellow;
        border-radius: 10%;
        cursor: pointer;
    }
    .message-for-set {
        width: 270px;
    }
}

@media only screen and (min-width: 1500px) {
    .game-wrapper {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .cards-layout {
        width: 50%;
    }
    .card {
        height: 14vw;
        width: 10vw;
    }
    .stats {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;
    }
    .sets-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 5vw;
    }
    .sets-title {
        font-weight: 800;
        font-size: 3.5vw;
    }
    .collected-sets {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 3px solid black;
        border-radius: 5px;
        height: 5.8vw;
        width: 6.3vw;
        font-size: 2.7vw;
    }
    .timer-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: 10px;
        border-radius: 5px;
        font-size: 2.7vw;
    }
    button {
        border-radius: 6px;
        font-size: 2vw;
    }
}