@import url('https://fonts.googleapis.com/css?family=Cabin:400,400i,500,500i,600,600i,700,700i|Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

/*
font-family: "Cabin", sans-serif;
font-family: "Roboto", sans-serif;
font-family: "Muli", sans-serif;
*/

.landing-landing-rules-wrapper {
    grid-area: cnt;
    height: 100%;
    background: white;
    padding: 50px;
    
}

.landing-rules-head {
    font-size: 9vw;
    font-weight: 900;
    text-align: center;
font-family: "Roboto", sans-serif;
    
}

.landing-rules-subhead {
    font-size: 3.5vw;
    padding: 10px;
    text-align: center;
font-family: "Roboto", sans-serif;
}

.landing-rules-section-head {
    font-size: 2.8vw;
    font-weight: 900px;
    
}

.landing-rules-text {
    font-size: 2.3vw;
    font-weight: 600;
    padding-top: 15px;
}

.landing-example-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-example-sets {
    width: 70vw;
    height: auto;
}

.landing-prompt {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 6vw;
}

.landing-butt-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-login-butt,
.landing-signup-butt {
    cursor: pointer;
    padding: 20px;
    margin-bottom: 50px;
    border-radius: 10px;
    font-size: 6vw;
}

.landing-login-butt {
    margin-right: 3vw;
}

.landing-signup-butt {
    margin-left: 3vw;
}