    .landing-wrapper {
        grid-area: cnt;
        background: white;
        width: 100vw;
    }
    .landing-rules-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
        width: 100vw;
    }
    .landing-rules-head {
        font-family: "Roboto", sans-serif;
        font-weight: 900;
        font-size: 9vw;
    }
    .landing-rules-subhead {
        padding: 10px;
        font-family: "Roboto", sans-serif;
        font-size: 3.5vw;
    }
    .landing-rules-text {
        text-align: center;
        padding: 5px;
        padding-bottom: 10px;
        font-weight: 600;
        font-size: 3.5vw;
    }
    .landing-rules-info {
        text-align: center;
        font-weight: 600;
        font-size: 3.5vw;
    }
    .landing-example-container {
        display: flex;
        align-items: center;
    }
    .landing-example-sets {
        height: auto;
        width: 70vw;
    }
    .landing-prompt {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px;
        font-weight: 700;
        font-size: 6vw;
    }
    .landing-butt-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .landing-login-butt,
    .landing-signup-butt {
        cursor: pointer;
        text-align: center;
        padding: 5px;
        padding-left: 8px;
        padding-right: 8px;
        border-radius: 10px;
        font-size: 4vw;
    }
    .landing-login-butt {
        margin-right: 3vw;
    }
    .landing-signup-butt {
        margin-left: 3vw;
    }

/* Extra Small Devices, Phones */

@media only screen and (min-width: 600px) {
    .landing-rules-wrapper {
        padding-top: 20px;
        padding-bottom: 50px;
        width: 100vw;
    }
    .landing-rules-head {
        font-weight: 900;
        font-size: 9vw;
    }
    .landing-rules-subhead {
        padding-bottom: 20px;
        font-size: 3.5vw;
    }
    .landing-rules-text {
        padding: 5px;
        padding-bottom: 20px;
        font-weight: 600;
        font-size: 3.2vw;
    }
    .landing-rules-info {
        padding-bottom: 20px;
        font-weight: 600;
        font-size: 3.2vw;
    }
    .landing-example-sets {
        width: 70vw;
    }
    .landing-prompt {
        padding: 8px;
        padding-top: 15px;
        font-weight: 700;
        font-size: 5vw;
    }
    .landing-login-butt,
    .landing-signup-butt {
        padding: 5px;
        padding-left: 8px;
        padding-right: 8px;
        border-radius: 10px;
        font-size: 4vw;
    }
    .landing-login-butt {
        margin-right: 3vw;
    }
    .landing-signup-butt {
        margin-left: 3vw;
    }
}

/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {
    .landing-rules-wrapper {
        padding-top: 20px;
        padding-bottom: 70px;
    }
    .landing-rules-head {
        font-weight: 900;
        font-size: 8vw;
    }
    .landing-rules-subhead {
        padding-bottom: 20px;
        font-size: 3vw;
    }
    .landing-rules-text {
        padding: 5px;
        padding-bottom: 20px;
        font-weight: 600;
        font-size: 2.8vw;
    }
    .landing-rules-info {
        margin-left: 6vw;
        margin-right: 6vw;
        padding-bottom: 20px;
        font-weight: 600;
        font-size: 2.8vw;
    }
    .landing-example-sets {
        width: 60vw;
    }
    .landing-prompt {
        padding: 8px;
        padding-top: 20px;
        padding-bottom: 25px;
        font-weight: 700;
        font-size: 5vw;
    }
    .landing-login-butt,
    .landing-signup-butt {
        padding: 5px;
        padding-left: 8px;
        padding-right: 8px;
        border-radius: 10px;
        font-size: 4.5vw;
    }
    .landing-login-butt {
        margin-right: 3vw;
    }
    .landing-signup-butt {
        margin-left: 3vw;
    }
}

/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {
    .landing-rules-wrapper {
        padding-top: 30px;
        padding-bottom: 70px;
    }
    .landing-rules-head {
        font-weight: 900;
        font-size: 6vw;
    }
    .landing-rules-subhead {
        padding-bottom: 20px;
        font-size: 2.5vw;
    }
    .landing-rules-text {
        padding: 5px;
        padding-bottom: 20px;
        font-weight: 600;
        font-size: 2vw;
    }
    .landing-rules-info {
        margin-left: 12.5vw;
        margin-right: 12.5vw;
        padding-bottom: 20px;
        font-weight: 600;
        font-size: 2vw;
    }
    .landing-example-sets {
        width: 50vw;
    }
    .landing-prompt {
        padding: 8px;
        padding-top: 20px;
        padding-bottom: 25px;
        font-weight: 700;
        font-size: 5vw;
    }
    .landing-login-butt,
    .landing-signup-butt {
        padding: 5px;
        padding-left: 8px;
        padding-right: 8px;
        border-radius: 10px;
        font-size: 3.5vw;
    }
    .landing-login-butt {
        margin-right: 3vw;
    }
    .landing-signup-butt {
        margin-left: 3vw;
    }
}

/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {
    .landing-rules-wrapper {
        padding-top: 30px;
        padding-bottom: 70px;
    }
    .landing-rules-head {
        font-weight: 900;
        font-size: 4.5vw;
    }
    .landing-rules-subhead {
        padding-bottom: 20px;
        font-size: 2vw;
    }
    .landing-rules-text {
        padding: 5px;
        padding-bottom: 20px;
        font-weight: 600;
        font-size: 1.5vw;
    }
    .landing-rules-info {
        margin-left: 16vw;
        margin-right: 16vw;
        padding-bottom: 20px;
        font-weight: 600;
        font-size: 1.5vw;
    }
    .landing-example-sets {
        width: 40vw;
    }
    .landing-prompt {
        padding: 8px;
        padding-top: 20px;
        padding-bottom: 25px;
        font-weight: 700;
        font-size: 3.5vw;
    }
    .landing-login-butt,
    .landing-signup-butt {
        padding: 5px;
        padding-left: 8px;
        padding-right: 8px;
        border-radius: 10px;
        font-size: 3vw;
    }
    .landing-login-butt {
        margin-right: 3vw;
    }
    .landing-signup-butt {
        margin-left: 3vw;
    }
}

/* Extra-Large Devices & Wide Screens */

@media only screen and (min-width: 1500px) {}