.signup-form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("https://i.imgur.com/LGVMYT6.png");
    background-position: center;
    background-size: cover;
    height: 100vw;
    background-repeat: no-repeat;
    color: white;
}

.signup-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100vw;
}

.signup-head {
    font-family: "Press Start K";
    color: #004D05;
    margin: .7vh;
    margin: 20px;  
    padding: 20px;  
    padding-top: 15px;    
    font-size: 6vw;
}

.signup-form-input {
    width: 70vw;
    padding: 5px;
    margin: .6vh;
    
}

.signup-butt {
    margin: .5vh;    
    padding: 10px;    
    font-size: 3.3vw;
    font-size: 3.3vw;
    background-color: #9A5EB2;
}

.already-account, .signup-login {
    padding: 5px;
    margin: .2vh;
    font-size: 3.3vw;
}

.signup-login:hover {
    cursor: pointer;
}

  /* Medium Devices, Desktops */
  @media only screen and (min-width : 992px) {
    .signup-head {
        margin: 20px;    
        font-size: 5vw;
    }
    
    .signup-form-input {
        width: 70vw;
        padding: 5px;
        margin: 10px;
        font-size: 2vw;
    }
    
    .signup-butt {
        padding: 10px;    
        font-size: 2.2vw;
    }
    
    .already-account, .signup-login {
        padding: 5px;
        margin: 5px;
        font-size: 2.5vw;
    }

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .signup-head {
        margin: 15px;    
        font-size: 4vw;
    }
    
    .signup-form-input {
        width: 70vw;
        padding: 5px;
        margin: 10px;
        font-size: 1.5vw;
    }
    
    .signup-butt {
        padding: 10px;    
        font-size: 1.6vw;
    }
    
    .already-account, .signup-login {
        padding: 5px;
        margin: 5px;
        font-size: 1.9vw;
    }
}

/* Extra-Large Devices & Wide Screens */

@media only screen and (min-width: 1500px) {
    .signup-form-wrapper {
        margin-bottom: 20px;        
    }
    .signup-head {
        margin: 15px;    
        font-size: 2.8vw;
    }
    
    .signup-form-input {
        width: 70vw;
        padding: 5px;
        margin: 10px;
        font-size: 1vw;
    }
    
    .signup-butt {
        padding: 10px;    
        font-size: 1.3vw;
    }
    
    .already-account, .signup-login {
        padding: 5px;
        margin: 5px;
        font-size: 1.5vw;
    }
}
