.profile-wrapper {
    padding: 20px;
    width: 100vw;
}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-bottom: 60px;
    color:#9A5EB2;
    font-size: 8vw;
}

.userName {
    text-decoration: underline;
    color:#9A5EB2;
    font-family: "Arcade";
    font-size: 12vw;
}

.userName:hover {
    color: blue;
}

.scores-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20vw;
    width: 100%;
}

.top-title {
    font-weight: bold;
    padding-left: 15px;
    padding-top: 5px;
    font-size: 8vw;
}
.one-score {
    background: #75AA75;
    color: white;
    padding: 20px;
    font-size: 6vw;

}

.player {
    font-weight: bold;
}