.profile-wrapper {
    padding: 20px;
    width: 100vw;
}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    color: #9A5EB2;
    font-size: 6vw;
}

.welcome h2 {
    font-family: "Arcade";
}

.userName {
    text-decoration: underline;
    color: #9A5EB2;
    font-family: "Arcade";
    font-size: 10vw;
    font-style: italic;
}

.userName:hover {
    color: blue;
}

.scores-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scores-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    padding-left: 50px;
    background: rgb(107, 156, 107);
    border-radius: 15%;
    width: 80vw;
}

.top-title {
    font-family: "Arcade";
    font-weight: bold;
    font-size: 7vw;
}

.scores-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.one-score {
    padding: 10px;
    font-size: 5vw;
}

.player {
    font-family: "Arcade";
    font-weight: bold;
    font-size: 6.5vw;
}

.best-score {
    font-family: "Arcade";
}

.best-score span {
    font-family: "Arcade";
    color: #CD5454;
    font-size: 1.5em;
    line-height: 20px;
}

@media only screen and (min-width: 1200px) {
    .scores-container {
        padding-left: 200px;
        width: 70vw;
    }
    .userName {
        padding: 0px;
    }
}