.profile-wrapper {
    padding: 20px;
    width: 100vw;

}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: #9A5EB2;
    font-size: 8vw;
}

.userName {
    text-decoration: underline;
    color: #9A5EB2;
    font-family: "Arcade";
    font-size: 12vw;
}

.userName:hover {
    color: blue;
}

.scores-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(107, 156, 107);
    margin-top: 10vw;
    margin-left: 10vw;
    margin-right: 10vw;
}

.top-title {
    font-weight: bold;
    color: white;
    padding-left: 15px;
    padding-top: 5px;
    font-size: 8vw;
}

.one-score {
    color: white;
    padding: 20px;
    font-size: 6vw;
}

.player {
    font-weight: bold;
}