* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

@font-face {
    font-family: "Arcade";
    src: local("./ARCADE.TTF"), url("./ARCADE.TTF");
}

.app-wrapper {
    display: grid;
    grid-template-areas: "hdr" "nav" "cnt" "cpy" "ftr";
    grid-template-rows: 2.5fr .5fr 4fr .5fr;
    background: white;
    height: 100vh;
}

.header-wrapper {
    grid-area: hdr;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("https://i.imgur.com/LGVMYT6.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    min-height: 120px;
}

.header-title {
    width: 80vw;
}

nav {
    grid-area: nav;
    display: flex;
    justify-content: center;
    background: #CD5454;
}

a {
    color: white;
    text-decoration: none;
    font-size: 4vw;
    padding: 10px;
}

footer {
    grid-area: ftr;
    display: flex;
    align-content: center;
    bottom: 0;
    padding: 1.5vw;
    font-size: 2.5vw;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    background: #CD5454;
    color: white;
}

.copyright {
    padding-top: 5px;
    font-size: 2vw;
}

.noLine {
    text-decoration: none;
    color: auto;
    font-size: 2.5vw;
}
.noLine:hover {
    text-decoration: underline;
    color: blue;
}

button {
    cursor: pointer;
    padding: 4px;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------- */

/* Extra Small Devices, Phones */

@media only screen and (min-width: 550px) {
    nav {
        padding: 10px;
        font-size: 2.5vw;
    }
    .nav-wrapper {
        height: 6vw;
    }
    footer {
        padding: 1vw;
        padding-left: 1vw;
        font-size: 2vw;
    }
    .copyright {
        padding-top: 5px;
        font-size: 1.5vw;
    }
}

/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {
    a {
        font-size: 3vw;
        padding: 20px;
    }
    footer {
        padding: .6vw;
        padding-left: 1vw;
        font-size: 1.4vw;
    }
    .copyright {
        padding-top: 5px;
        font-size: 1.3vw;
    }
}

/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {
    a {
        font-size: 2.7vw;
    }
    nav {
        padding: 5px;
        font-size: 2vw;
    }
    .nav-wrapper {
        height: 4vw;
    }
    .noLine {
        font-size: 2vw;
        padding: 10px;
    }
    footer {
        padding: .6vw;
        padding-left: 1vw;
        font-size: 1.4vw;
    }
    .copyright {
        padding-top: 5px;
        font-size: 1.1vw;
    }
}

/* Large Devices & Wide Screens */

@media only screen and (min-width: 1200px) {
    .header-wrapper {
        height: 18vh;
    }
    .header-title {
        width: 45vw;
    }
    a {
        font-size: 2vw;
        padding: 50px;
    }
    .noLine {
        font-size: 1vw;
        padding: 10px;
    }
    .nav-wrapper {
        height: 3vw;
    }
    footer {
        padding: .6vw;
        padding-left: 1vw;
        font-size: 1.1vw;
    }
    .copyright {
        padding-top: 5px;
        font-size: .9vw;
    }
}

/* Extra-Large Devices & Wide Screens */

@media only screen and (min-width: 1500px) {
  
    nav {
        padding: 5px;
        font-size: 1.2vw;
    }
    .nav-wrapper {
        height: 3vw;
    }
    footer {
        padding: .6vw;
        padding-left: 1vw;
        font-size: .9vw;
    }
    .copyright {
        padding-top: 5px;
        font-size: .7vw;
    }
}