/* media query beginning at 360 × 640 */
* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext');

.app-wrapper {
    display: grid;
    grid-template-areas: "hdr" "nav" "cnt" "cpy" "ftr";
    grid-template-rows: 3fr .5fr 4fr .5fr;
    background: white;
    height: 100vh;
}

.header-wrapper {
    grid-area: hdr;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    background-image: url("https://i.imgur.com/WSVqaSa.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 110px;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 8vw;
}

.header-text {
    color: rgb(240, 232, 232);
}

nav {
    grid-area: nav;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
    height: 100%;
    font-size: 3.5vw;
}

.nav-wrapper {
    background: lightgray;
    height: 8vw;
}

a {
    color: black;
    text-decoration: none;
}

.logout {
    font-size: 3.5vw;
}

footer {
    grid-area: ftr;
    display: flex;
    align-content: center;
    bottom: 0;
    padding: 1.5vw;
    font-size: 2.5vw;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    background: lightgray;
}

.copyright {
    padding-top: 5px;
    font-size: 1.5vw;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------- */

/* Extra Small Devices, Phones */

@media only screen and (min-width: 600px) {
    .header-wrapper {
        min-height: 250px;
    }
    .header-container {
        font-size: 8vw;
    }
    nav {
        padding: 5px;
        font-size: 3vw;
    }
    .nav-wrapper {
        height: 6vw;
    }
    .logout {
        font-size: 2.8vw;
    }
    footer {
        padding: 1vw;
        padding-left: 1vw;
        font-size: 2vw;
    }
    .copyright {
        padding-top: 5px;
        font-size: 1.5vw;
    }
}

/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {
    .header-wrapper {
        min-height: 300px;
    }
    .header-container {
        font-size: 8vw;
    }
    nav {
        padding: 10px;
        font-size: 2.1vw;
    }
    .nav-wrapper {
        height: 4.5vw;
    }
    .logout {
        font-size: 2.1vw;
    }
    footer {
        padding: .6vw;
        padding-left: 1vw;
        font-size: 1.4vw;
    }
    .copyright {
        padding-top: 5px;
        font-size: 1.3vw;
    }
}

/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {
    .header-wrapper {
        min-height: 300px;
    }
    .header-container {
        font-size: 8vw;
    }
    nav {
        padding: 5px;        
        font-size: 2vw;
    }
    .nav-wrapper {
        height: 4vw;
    }
    .logout {
        font-size: 2vw;
    }
    footer {
        padding: .6vw;
        padding-left: 1vw;
        font-size: 1.4vw;
    }
    .copyright {
        padding-top: 5px;
        font-size: 1.1vw;
    }
}

/* Large Devices & Wide Screens */

@media only screen and (min-width: 1200px) {
    .header-wrapper {
        min-height: 350px;
    }
    .header-container {
        font-size: 8vw;
    }
    nav {
        padding: 5px;        
        font-size: 1.5vw;
    }
    
    .nav-wrapper {
        height: 3vw;
    }
    .logout {
        font-size: 1.4vw;
    }
    footer {
        padding: .6vw;
        padding-left: 1vw;
        font-size: 1.1vw;
    }
    .copyright {
        padding-top: 5px;
        font-size: .9vw;
    }
    
}

/* Extra-Large Devices & Wide Screens */

@media only screen and (min-width: 1500px) {
    .header-wrapper {
        min-height: 350px;
    }
    .header-container {
        font-size: 8vw;
    }
    nav {
        padding: 5px;
        font-size: 1.2vw;
    }
    .nav-wrapper {
        height: 3vw;
    }
    .logout {
        font-size: 1.2vw;
    }
    footer {
        padding: .6vw;
        padding-left: 1vw;
        font-size: .9vw;
    }
    .copyright {
        padding-top: 5px;
        font-size: .7vw;
    }
}