.signup-form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("https://i.imgur.com/LGVMYT6.png");
    background-position: center;
    background-size: cover;
    height: 70vh;
    background-repeat: no-repeat;
    color: white;
    border: 0;
}

.signup-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100vw;
}

.signup-head {
    font-size: 6vw;
    padding-top: 15px;
}

.signup-form-input {
    width: 70vw;
    font-size: 3vw;
    padding: 5px;
}

.buttProfile {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.signup-butt {
    font-size: 3vw;
    padding: 10px;
    width: 30%;
}

.avatar {
    max-width: 170px;
}

@media only screen and (min-width: 1200px) {
    .signup-butt {
        font-size: 2vw;
        padding: 0px;
        width: 40%;
        height: 70px;
    }
}