.login-form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("https://i.imgur.com/LGVMYT6.png");
    background-position: center;
    background-size: cover;
    height: 69.6vh;
    background-repeat: no-repeat;
    color: white;
}

.login-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100vw;
}

.login-head {
    font-family: "Arcade";
    color: #004D05;
    /* margin: .7vh;
    margin: 20px;   */
    padding: 20px;  
    padding-top: 15px;    
    font-size: 10vw;
}

.login-form-input {
    width: 80vw;
    padding: 5px;
    margin: .6vh;
    font-size: 5vw;
}

.login-butt {
    font-family: "Arcade";
    margin: .5vh;
    padding: 3px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 7vw;
    border-radius: 10%;
}

.no-account,
.login-signup {
    padding: 10px;
    margin: .2vh;
    font-size: 4vw;
    
}

.login-signup {
    color: black;
    font-size: 4vw;
}

.login-login:hover {
    cursor: pointer;
}

/* Medium Devices, Desktops */

@media only screen and (min-height: 812px) {
    .login-form-wrapper {
        height: 75vh;
    }
}

@media only screen and (min-width: 992px) {
    .login-head {
        font-size: 5vw;
    }
    .login-form-input {
        width: 70vw;
        padding: 5px;
        font-size: 2vw;
    }
    .login-butt {
        padding: 10px;
        font-size: 2.2vw;
    }
    .no-account,
    .login-signup {
        padding: 5px;
        font-size: 2.5vw;
    }
}

/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {
    .login-head {
        font-size: 4vw;
    }
    .login-form-input {
        width: 70vw;
        padding: 5px;
        font-size: 1.5vw;
    }
    .login-butt {
        padding: 10px;
        font-size: 1.6vw;
    }
    .no-account,
    .login-signup {
        padding: 5px;
        font-size: 1.9vw;
    }
}

/* Extra-Large Devices & Wide Screens */

@media only screen and (min-width: 1500px) {
    .login-head {
        font-size: 2.8vw;
    }
    .login-form-input {
        width: 70vw;
        padding: 5px;
        font-size: 1vw;
    }
    .login-butt {
        padding: 10px;
        font-size: 1.3vw;
    }
    .no-account,
    .login-signup {
        padding: 5px;
        font-size: 1.5vw;
    }
}